.button {
  background-color: #FFD700;
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.2);
  color: #53304A;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  background-color: #0046b3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
