.header {
  /* border: 2px solid var(--color-border); */
  text-align: center;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--color-bg-accent);
  /* background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
  /* border-bottom: 1px solid #ddd; */
  border-radius: 25px;
}

.title {
  color: var(--color-text-warm-beige);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    text-align: center;  
  word-wrap: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  hyphens: auto;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}
